<ul class="">
	<li class="label-menu text-center">
		<div class="row">
			<div class="col-5 pr-0"><img src="http://www.top-madagascar.com/assets/images/admin/user-admin.png" alt="admin" style="height: 64px;"></div>
			<div class="col-7 text-left">
				<b>Welcome</b><br>
				Admin
			</div>
		</div>
	</li>
	<li class="menu-item"><a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
	<li class="menu-item"><a routerLink="users" routerLinkActive="active"><i class="fas fa-users"></i> Users</a></li>
	<li class="menu-item"><a routerLink="products" routerLinkActive="active"><i class="fas fa-shopping-bag"></i> Products</a></li>
</ul>