<h2 class="text-center pb-3">Choose any option below:</h2>

<div class="row pl-3 pr-3 text-center">
	<div class="col-6">
		<div class="card">
			<h2 class="pt-3"><i class="fas fa-users"></i></h2>
			<div class="card-body pt-1">
				<h5 class="card-title">Users</h5>
				<p class="card-text">This section allows you to view all users. And allows you to add, edit and delete any user.</p>
				<a routerLink="users" class="btn btn-primary">Go here</a>
			</div>
		</div>
	</div>

	<div class="col-6">
		<div class="card">
			<h2 class="pt-3"><i class="fas fa-shopping-bag"></i></h2>
			<div class="card-body pt-1">
				<h5 class="card-title">Products</h5>
				<p class="card-text">This section allows you to view all products. And allows you to add, edit and delete any product.</p>
				<a routerLink="products" class="btn btn-primary">Go here</a>
			</div>
		</div>
	</div>
</div>